<html lang="en">

<head>
  <title>Login 07</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
              <div class="text w-100">
                <h2>Bienvenue sur notre application</h2>
                <p>Vous voulez consulter notre site web?</p>
                <a class="btn btn-white btn-outline-white"
                  href="http://www.cni.tn/index.php/fr/?view=page&id=44">cliquer ici</a>
              </div>
            </div>
            <div class="login-wrap p-4 p-lg-5">
              <div class="d-flex">
                <div class="w-100">
                  <img src="./assets/cni.jpg" alt="" style="display: block; margin: auto;;width:180px">
                </div>
              </div>
              <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <div class="form-group">
                  <label for="prenom">First Name</label>
                  <input type="text" class="form-control" name="prenom" [(ngModel)]="form.prenom" required minlength="3"
                    maxlength="20" #prenom="ngModel" />
                  <div class="alert-danger" *ngIf="prenom.errors && f.submitted">
                    <!-- <div *ngIf="prenom.errors.required">First Name is required</div>
                    <div *ngIf="prenom.errors.minlength">
                      First Name must be at least 3 characters
                    </div>
                    <div *ngIf="prenom.errors.maxlength">
                      First Name must be at most 20 characters
                    </div> -->
                  </div>
                </div>

                <div class="form-group">
                  <label for="nom">Last Name</label>
                  <input type="text" class="form-control" name="nom" [(ngModel)]="form.nom" required minlength="3"
                    maxlength="20" #nom="ngModel" />
                  <div class="alert-danger" *ngIf="nom.errors && f.submitted">
                    <!-- <div *ngIf="nom.errors.required">Last Name is required</div>
                    <div *ngIf="nom.errors.minlength">
                      Last Name must be at least 3 characters
                    </div>
                    <div *ngIf="nom.errors.maxlength">
                      Last Name must be at most 20 characters
                    </div> -->
                  </div>
                </div>

                <div class="form-group">
                  <label for="numTel">Phone Number</label>
                  <input type="text" class="form-control" name="numTel" [(ngModel)]="form.numTel" required minlength="3"
                    maxlength="20" #numTel="ngModel" />
                  <div class="alert-danger" *ngIf="numTel.errors && f.submitted">
                    <!-- <div *ngIf="numTel.errors.required">Phone Number is required</div>
                    <div *ngIf="numTel.errors.minlength">
                      Phone Number must be at least 3 characters
                    </div> -->
                    <!-- <div *ngIf="numTel.errors.maxlength">
                      Phone Number must be at most 20 characters
                    </div> -->
                  </div>
                </div>

                <div class="form-group">
                  <label for="dateNaissance">Date of Birth</label>
                  <input type="date" class="form-control" name="dateNaissance" [(ngModel)]="form.dateNaissance" required
                    #dateNaissance="ngModel" />
                  <div class="alert-danger" *ngIf="dateNaissance.errors && f.submitted">
                    <!-- <div *ngIf="dateNaissance.errors.required">Date of Birth is required</div> -->
                  </div>
                </div>

                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" name="address" [(ngModel)]="form.address" required
                    minlength="3" maxlength="20" #address="ngModel" />
                  <div class="alert-danger" *ngIf="address.errors && f.submitted">
                    <!-- <div *ngIf="address.errors.required">Address is required</div> -->
                    <!-- <div *ngIf="address.errors.minlength">
                      Address must be at least 3 characters
                    </div>
                    <div *ngIf="address.errors.maxlength">
                      Address must be at most 20 characters
                    </div> -->
                  </div>
                </div>

                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                    minlength="3" maxlength="20" #username="ngModel" />
                  <div class="alert-danger" *ngIf="username.errors && f.submitted">
                    <!-- <div *ngIf="username.errors.required">Username is required</div>
                    <div *ngIf="username.errors.minlength">
                      Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors.maxlength">
                      Username must be at most 20 characters
                    </div> -->
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #email="ngModel" />
                  <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <!-- <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">
                      Email must be a valid email address
                    </div> -->
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="6" #password="ngModel" />
                  <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <!-- <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 6 characters
                    </div> -->
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Sign Up</button>
                </div>

                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Signup failed!<br />{{ errorMessage }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>