<div class="page-wrapper">
  <div class="background"
       style="background-image: url(assets/images/demos/demo-24/slider/back-1.jpg);">
    <!-- End .header -->
    <app-header></app-header>
    <div class="slider">
      <div class="intro">
        <div class="content ">
          <h4><i>مرحبا بكم على بوابة الخدمات الادارية</i></h4>
          <p class="text-white">نقوم بتصميم و تطوير التطبيقات التي تساعد المستخدمين و تنمي اعمالكم.</p>
          <p class="text-white">التنمية على مستوى المؤسسات جنبا الى جنب مع التصميم المتميز</p>
        </div>
        <div class="action mt-5" >
          <img *ngIf="user.authorized1" src="assets/images/1.png" alt="Molla Logo" width="110" height="25">

          <img *ngIf="user.authorized2" src="assets/images/2.jpg" alt="Molla Logo" width="110" height="25">
          <img *ngIf="user.authorized3" src="assets/images/3.jpg" alt="Molla Logo" width="110" height="25">

        </div>
      </div>
      <!--      <img src="assets/iStock-1054785410.jpg">-->
    </div>
  </div>
</div>



