<div class="page-wrapper">
  <div class="background"
       style="background-image: url(assets/images/demos/demo-24/slider/back-1.jpg);">
    <!-- End .header -->
    <app-header></app-header>
    <div class="slider">
      <div class="intro">
        <div class="content ">
          <h4><i>مرحبا بكم على بوابة الخدمات الادارية</i></h4>
          <p class="text-white">نقوم بتصميم و تطوير التطبيقات التي تساعد المستخدمين و تنمي اعمالكم.</p>
          <p class="text-white">التنمية على مستوى المؤسسات جنبا الى جنب مع التصميم المتميز</p>
        </div>
        <div class="action mt-5" *ngIf="user.roles.includes('ROLE_ADMIN')">
          <a>التصرف في الماموريات بالخارج </a>
          <a>التصرف في الماموريات بالخارج </a>
        </div>
      </div>
      <!--      <img src="assets/iStock-1054785410.jpg">-->
    </div>
  </div>
</div>



